<div>
  <body>
    <div class="container">
      <h2>EMI Calculator</h2>
      <label for="loanAmount">Loan Amount:</label>
      <input type="number" id="loanAmount" [(ngModel)]="loanAmount" />
  
      <label for="tenure">Tenure in Months:</label>
      <input type="number" id="tenure" [(ngModel)]="tenure" />
  
      <label for="interest">Interest:</label>
      <input type="number" id="interest" [(ngModel)]="interest" />
  
      <button (click)="cal()">Calculate</button>
      <h1>EMI: {{ emi }}/m</h1>
    </div>
  </body>
</div>

<router-outlet></router-outlet>
